body {
    background-color: #EBFEFD;
    color: #86A5D9;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    width: 100vw;
    }

nav {
    padding: 20px 15%;
    border-right: solid 2px #2D2D34;
    height: 100vh;
    }

nav section {
    justify-content: space-around;
    width: 80%;
    margin: auto;
    }
    nav div {
    margin-bottom: 20px;
    }

.btn {
    margin-left: 15%;
}

h4 {
    text-align: center;
}


.propiedad {
    padding: 0px 5%;
    display:flex;
    gap: 45px;
    height: 200px;
    padding: 15px;
    width: 200px;
}

.propiedad .img{
    height: 150px;
    background-size: cover;
    background-position: center;
}
